/* Custom Styling */
body {
    background-color: white;
}

.video-container {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.controls-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 85vh;
    gap: 20px;
}

.w-48 {
    width: 48%;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: white !important;
}

.navbar {
    margin-bottom: 10px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

